.above-form-instruction {
  margin-bottom: 0px;
  opacity: 0.5;
}

.input-wrapper {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.input-hint {
  font-size: 80%;
  opacity: 0.5;
  line-height: 0.75;
  margin-top: 0.05rem;
  margin-bottom: 0.1rem;
}

.input-error-display {
  color: red;
  font-size: 80%;
  opacity: 0.5;
  line-height: 0.75;
  margin-top: 0.05rem;
  margin-bottom: 0.1rem;
}

#amount {
  background-image: url('~/pound_sign.svg');
  background-size: 0.6rem;
  background-repeat: no-repeat;
  background-position:left;
  padding-left: 0.8rem;
  width: 7rem;
}



#calculate-button {
  background-color: #6495ED;
  border: 0.1px;
  border-style:inset;
  font-family: inherit;
  font-size: 80%;
  color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
}

.result-view-wrapper {
  margin-top: 4rem;
}

.balance-display {
  font-weight: bold;
}

.usage-notes-wrapper {
  margin-top: 4rem;
  font-size: 80%
}

.usage-notes-header {
  margin-bottom: 0.1rem;
}

.usage-notes-list {
  margin-top: 0.1rem;
  list-style-type: none;
  padding-left: 1rem;
}

.usage-notes-list, li:before {
  content:"*  ";
}



