.input-wrapper {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.input-hint {
  font-size: 80%;
  line-height: 1;
  margin-top: 0.05em;
  margin-bottom: 0.1em;
}

#amount {
  background-image: url('~/pound_sign.svg');
  background-size: 0.9em;
  background-repeat: no-repeat;
  background-position:left;
  padding-left: 0.8rem;
}

.usage-notes-container {
  margin-top: 10rem;
}

.usage-notes-header {
  margin-bottom: 0.1rem;
}

.usage-notes-list {
  margin-top: 0.1rem;
  list-style-type: none;
  padding-left: 1rem;
}

.usage-notes-list, li:before {
  content:"*  ";
}



